.header__logo {
  @include flex(flex, space-between, false, center);

  .nav {
    @include flex(flex, false, false, center);
  }

  .nav__additionally {
    @include flex(flex, false, false, false);
    column-gap: 36px;
    color: $primary-color;
    font-family: $font;

    .nav__item,
    .nav__item--primary {
      transition: 200ms;
    }
    .nav__item,
    .nav__item--primary {
      &:hover {
        color: rgb(29, 27, 27);
        transition: 200ms;
      }
    }

    .nav__item--primary {
      position: relative;

      .nav__element::before {
        position: absolute;
        content: "";
        display: block;
        width: 72px;
        height: 3.5px;
        top: 50px;
        background-color: rgb(60, 128, 255);
      }
    }
  }
}
