$primary-color: #6c6c6c;
$special-color: white;
$font:  "Open Sans", sans-serif; // main font-family


@import 'reset'; // reset.css

@import "mixin/mixin"; // mixin

@import "header"; // header
 
@import "main"; // main
 
@import "footer"; // footer


@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}


