@import "mixin";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
  width: 90%;
  margin: 0 auto;
  padding: 25px;
}

.container {
  @include flex(flex, space-between, false, center);


  .nav {
    @include flex(flex, false, false, center);
  }

  .nav__additionally {
    @include flex(flex, false, false, false);
    color: #6C6C6C;
    font-family: 'Open Sans', sans-serif;
    column-gap: 36px;

    .nav__element::before {
      display: block;
      content: '';
      width: 66px;
      height: 3.5px;
      margin: 10px 0px 0px 0px;
      background-color: rgb(60, 128, 255);
    }
  }
}